*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-size : 24px;
}

.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 
    "canvas canvas canvas canvas canvas series" 9fr 
    "play fast_backward fast_forward  backward forward generate" 1fr/ 1fr 1fr 1fr 1fr 1fr 1fr;
}

.controls{
    text-align: center;
    margin : 0 20px 5px 5px;
    background-color : lightgray;
    border : 1px solid black;
}

#canvas{
    grid-area: canvas;
}

#series{
    grid-area: series;
}

#play_pause{
    grid-area: play;
}

#fast-forward{
    grid-area: fast_forward;
}

#fast-backward{
    grid-area: fast_backward;
}

#forward{
    grid-area: forward;
}

#backward{
    grid-area: backward;
}

